<div class="row  align-items-center full-width">
  <div class="col"></div>
  <div class="col">
    <div class="row p20 text-center" id="header">
      <span style="flex: 1;">Todo's</span>
      <span><a routerLink="/" routerLinkActive="active"> <i class="fas fa-list"></i></a></span>
      <span><a routerLink="/todo" routerLinkActive="active"> <i class="fas fa-plus"></i></a></span>
    </div>
  </div>
  <div class="col"></div>
</div>
<div class="row align-items-center full-width">
  <div class="col"></div>
  <div class="col">
    <div class="row p20">
      <router-outlet style="width: 100%;"></router-outlet>
    </div>
  </div>
  <div class="col"></div>
</div>
